/*
autor: denner@conectedesign.com.br;
*/
// fonts usadas
@import '../fonts/fonts.css'; 
//Normalize
@import 'normalize.less';
//boilerplate
@import 'boilerplate.less';
//bootstrap
@import 'bootstrap.less';
//lightbox
@import 'lightbox.less';


.font(@f) when (@f = h){ font-family: helvetica_lt_stdlight, Arial, Times;; }

.peso(@p) when (@p = n){font-weight: normal; }
.peso(@p) when (@p = l){font-weight: lighter; }
.peso(@p) when (@p = b){font-weight: bold; }

.tam(@t){font-size: @t;}


html, body, #wrap {
  height: 100%;
}

body > #wrap {
  height: auto; 
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 229px;
}  

#footer {
  position: relative;
  margin-top: -229px; 
  height: 229px;
  clear:both;
} 

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
body{
  overflow-x: hidden;
  position: relative;
  background: #f4f7f4;   
  .tam(12px);
  color: #b6b6b6;
  .font(h);
  &.home, &.corporativo, &.cliente{
    border-top: 5px solid #ffd200;
    #header{
      .logo{
        background-position: top left;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #ffd200;
          }
        }
      }
    }
  }
  &.conceito{
    border-top: 5px solid #f1761a;
    #header{
      .logo{
        background-position: -245px 0;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #f1761a;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #f1761a;
        background-color: rgba(241, 78, 26, 0.7);
      }
    }
  }
  &.corporativo{
    border-top: 5px solid #ffd200;
    #header{
      .logo{
        background-position: top left;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #ffd200;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #f1761a;
        background-color: rgba(241, 78, 26, 0.7);
      }
    }
  }
  &.produtos{
    border-top: 5px solid #00b4ff;
    #header{
      .logo{
        background-position: -734px 0;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #00b4ff;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #00b4ff;
        background-color: rgba(0, 163, 255, 0.7);
      }
    }
  }
  &.cliente{
    #header{
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #ffd200;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #ffd200;
        background-color: rgba(235, 210, 27, 0.7);
      }
    }
  }
  &.designers{
    border-top: 5px solid #ee0033;
    #header{
      .logo{
        background-position: -488px 0;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #ee0033;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #ee0033;
        background-color: rgba(224, 3, 12, 0.7);
      }
      .categorias{
        h2{
          a{
            color: #696969;
            font-weight: bold;
          }
        }
      }
    }
  }
  &.dicas{
    border-top: 5px solid #00d37a;
    #header{
      .logo{
        background-position: -1222px 0;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #00d37a;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #00d37a;
        background-color: rgba(6, 199, 83, 0.7);
      }
    }
  }
  &.contato{
    border-top: 5px solid #bad72f;
    #header{
      .logo{
        background-position: -978px 0;
      }
      .menu_principal{
        .navbar{
          .navbar-toggle{
            background-color: #bad72f;
          }
        }
      }
    }
    #main{
      .breadcrumb {
        background-color: #bad72f;
        background-color: rgba(168, 196, 33, 0.7);
      }
    }
  }
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)  {
  #parallax_left, #parallax_right, .header_line_l, .header_line_r{
    display:none;
  }       
}
@media screen and (min-device-width: 320px) and (max-device-width : 480px)  {
  #parallax_left, #parallax_right, .header_line_l, .header_line_r {
    display:none;
  }     
}
#parallax_left, #parallax_right, .header_line_l, .header_line_r {
  *display:none;
  width:100%; 
  height:800px;
  position:absolute; 
  z-index:-9999;
}
#parallax_left {
  background:url('../img/left.png') no-repeat;
  left: -300px;
  top: 50px;
} 
#parallax_right {
  background:url('../img/right.png') no-repeat;
  right: -750px;
  top: 50px;
}
/*.header_line_l{
    background:url('../img/hleft.png') no-repeat;
    left: 0px;
    top: 0;
}
.header_line_r {
    background:url('../img/hright.png') no-repeat;
    right: -855px;
    top: 0;
}*/
#header{
  .logo{
    background: url('../img/icons.png') no-repeat;
    display: block;
    width: 144px;
    height: 65px;
    margin-top: 30px;
  }
  .social{
    margin-top: 5px;
    li{
      display: inline-block;
      a{
        display: block;
        width: 20px;
        height: 20px;
        background: url('../img/icons.png') no-repeat;
      }
      .english{
        background-position: -412px -196px;
      }
      .facebook{
        background-position: -598px -196px;
      }
    }
  }
  .search{
    margin-top: 20px;
    input{
      border: none;
    }
    button{
      margin-left: 3px;
      border: none;
      height: 34px;
      padding: 6px 12px;
      line-height: 1.428571429;
      color: #555555;
      vertical-align: middle;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      &:hover{
        background-color: #F8F5F5;
      }
    }
  }
  .carrinho_produtos_link{
    margin: 10px 0px;
    a{
      text-align: right;
      color: #fcb352;
      display: block;
      .circulo{
        -webkit-border-radius: 100px;
        border-radius: 100px;
        border: 1px solid #DBDCDB;
        padding: 0px 4px;
      }
    }
  }
  .menu_principal{
    border-top: 1px solid rgb(182, 182, 182);
    border-bottom: 1px solid rgb(182, 182, 182);
    margin-bottom: 25px;
    .navbar{
      min-height: 0;
      margin-bottom: auto;
      border: none;
      .navbar-toggle{
        .icon-bar{
          background-color: #FFF;
        }
      }
    }
    .opening > .dropdown-menu {
      display: block;
    }
    ul{
      > li{
        &:hover, &:active{
          #conceito, #corporativo{
            color: #f1761a;
          }
          #produtos{
            color: #00b4ff;
          }
          #designers{
            color: #ee0033;
          }
          #clientes{
            color: #ffd706;
          }
          #dicas{
            color: #00d37a;
          }
          #contato{
            color: #bad72f;
          }
        }
        > a{
          font-weight: normal;
          padding: 15px 0px;
          color: #a9a9a9;
          line-height: 6px;
          &:hover{
            background-color: transparent;
          }
        }
        ul.dropdown-menu{
          background: #e4e9d7;
          border-top: 1px solid #D4D6D4;
          min-width: 235px;
          padding-bottom: 0;
          .panel{
            background-color: #e4e9d7;
            border-bottom: 1px solid #CCCCCC;
            height: auto;
            -webkit-border-radius: 0;
            border-radius: 0;
            color: #8d8e8d;
            &:hover{
              color: #666666;
            }
            .panel-heading {
              padding: 0px 0px 7px 26px;
              h4{
                .tam(13px);
                display: block;
                a{
                  display: block;
                  .plus{
                    display: inline-block;
                    float: right;
                    width: 18px;
                    height: 18px;
                    background: url('../img/icons.png') no-repeat -229px -198px;
                    margin-right: 5px;
                  }
                  &.collapsed{
                    .plus{
                      background: url('../img/icons.png') no-repeat -45px -198px;
                    }
                  }
                }
              }
            }
            .panel-body{
              border: none;
              background: #fff;
              padding: 0;
              li{
                color: #8D8E8D;
                display: block;
                text-indent: 49px;
                padding: 6px 0px 6px 0px;
                border-top: 1px solid #CCCCCC;
                .tam(13px);
              }
            }
          }
        }
      }
    }
  }
}
#main{
  #carousel, #banners{
    .carousel-indicators{
      top: 10px;
      right: 10px;
      left: auto;
      bottom: auto;
      width: auto;
      margin-left: auto;
      li{
        background: #b6b6b6;
        border: 1px solid #b6b6b6;
        &.active{
          background: #FFD200;
          border: 1px solid #FFD200;
        }
      }
    }
  }
  #banners{
    .carousel-inner > .item{
      padding-top: 15px;
      margin-bottom: 20px;
    }
  }
  .informe{
    background-color: #FFC125;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    color: #FFF;
    line-height: 20px;
    .tam(18px);
    .balao{
      background: url('../img/icons.png') no-repeat -599px -111px;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .banners{
    margin-bottom: 15px;
    figure{
      overflow: hidden;
      max-width: auto;
      max-height: auto;
      margin-bottom: 15px;
      img{
        max-width: 100%;
      }
    }
  }
  .breadcrumb {
    padding-top: 15px;
    padding-bottom: 15px;
    > li{
      .tam(24px);
      color: #FFF;
      &+li:before {
        content: ".";
        color: #FFF;
        .tam(35px);
        position: relative;
        top: -5px;
      }
      &.active{
        .tam(36px);
        .peso(b);
      }
      a{
        color: #FFF;
      }
    }
  }
  .conteudo{
    background: #FFF;
    border-top: 1px solid #e1e4e1;
    border-bottom: 1px solid #e1e4e1;
    margin-bottom: 20px;
    padding: 5px;
    &.conteudo2{
      min-height: 350px;
      padding: 10px 20px;
      p{
        .tam(14px);
      }
    }
    p{
      color: #7b7b7b;
      .tam(13px);
      padding: 0;
      line-height: 25px;
    }
  }
  .figure, .figure2{
    overflow: hidden;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
  .figure2{
    max-height: 242px;
  }
  .categorias{
    background: #fff;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
    h2{
      .tam(15px);
      margin: 0;
      a{
        color: #00aaff;
      }
    }
    .lista-categorias{
      li{
        &.design{
          min-height: 100px;
        }
        a{
          color: #929292;
          display: block;
          .tam(12px);
          &:before {
            content: " - ";
          }
        }
      }
      .ver-mais{
        padding: 0;
        list-style-image: url('../img/produtos_arrow.png');
        list-style-position: outside;
        margin-top: 3px;
        &.desig{
          list-style-image: url('../img/designers_arrow.png');
          a{
            color: #ee0033;
          }
        }
        a{
          color: #00aaff;
          display: inline;
          padding: 0;
          position: relative;
          top: -3px;
          &:before {
            content: "";
          }
        }
      }
    }
  }
  #accordion-designers{
    .panel{
      a{
        color: #ee0033;
      }
    }
    .ver-mais{
      margin-top: 3px;
      color: #ee0033;
      display: inline;
      padding: 0;
      .tam(12px);
    }
  }
  .categoria{
    position: relative;
    //background-color: #FFF;
    .selecionado{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      padding: 10px;
      background-color: #FFD200;
      color: #FFF;
    }
    .add{
      background: url('../img/icons.png') no-repeat -45px -198px;
      width: 18px;
      height: 18px;
      outline: none;
      &.remove{
        background: url('../img/icons.png') no-repeat -598px -280px;
      }
      &:active, .btn.active {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    figure{
      .add{
        position: absolute;
        top: 11px;
        left: 10px;
      }
      img{
        width: 100%;
      }
      figcaption{
        a{
          text-align: center;
          display: block;
          padding-top: 0;
          margin-top: -15px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .especial-under{
    position: relative;
    bottom: 5px;
    color: #d6d7d6;
  }
  .content{
    color: #4f4f4f;
    .tam(14px);
    padding: 0 10px 0 25px;
    h4{
      .tam(30px);
    }
    p{
      line-height: 30px;
    }
    .text-danger{
      color: #b94a48;
      &:hover {
        color: #953b39;
      }
    }
  }
  .outros-produtos{
    .naver{
      position: relative;
      min-height: 50px;
      background-color: #F0F3F0;
      border-bottom: 1px solid #CCC;
      margin: 15px 0;
      display: block;
      a{
        position: absolute;
        top: 10px;
        border: none;
        background: transparent;
        background: url('../img/icons.png') no-repeat;
        width: 30px;
        height: 30px;
        outline: none;
      }
      .prev{
        left: 20px;
        background-position: -960px -275px;
      }
      .pagers{
        display: block;
        text-align: center;
        overflow: hidden;
        span{
          display: inline-block;
          padding: 10px;
          cursor: pointer;
          .peso(b);
          .tam(22px);
          &.cycle-pager-active{
            color: #00B4FF;
          }
        }
      }
      .next{
        right: 20px;
        background-position: -960px -103px;
      }
    }
  }
  #accordion-dicas{
    .panel{
      border: none;
      a{
        color: #8d8e8d;
        display: block;
        padding: .5em .5em .5em 2.2em;
        border-bottom: 1px solid #d4d6d4;
        border-top: 1px solid #d4d6d4;
        background: #f0f3f0;
        .panel-heading{
          .panel-title{
            .tam(15px);
            .plus{
              display: inline-block;
              float: right;
              width: 18px;
              height: 18px;
              background: url('../img/icons.png') no-repeat -229px -198px;
              margin-right: 5px;
            }
          }
        }
        &.collapsed{
          .panel-heading{
            .panel-title{
              .plus{
                background: url('../img/icons.png') no-repeat -45px -198px;
              }
            }
          }
        }
        &:hover{
          text-decoration: none;
          background: #ebebeb;
        }
      }
      .panel-body{
        ul{
          list-style: none;
        }
      }
    }
  }
  .form-contato{
    margin-bottom: 15px;
    padding-bottom: 15px;
    .form-control{
      .tam(13px);
      text-indent: 5px;
      border: none;
      background: #e8ebe8;
      color: #7B7B7B;
    }
    textarea{
      height: 130px;
    }
    .botao-contato{
      width: 111px;
      height: 35px;
      background: url('../img/icons.png') no-repeat -184px -272px;
      border: none;
      outline: none;
      &:hover{
        background-position: -2px -274px;;
      }
    }
  }
  .maps{
    min-height: 390px;
  }
}
@media (max-width: 767px)  {
  #main{
    .breadcrumb {
      > li{
        .tam(16px);
        &+li:before {
          .tam(25px);
        }
        &.active{
          .tam(27px);
        }
      }
    }
  }   
}

#footer{
  background-color: #fff;
  border-top: 1px solid #dfe4df;
  .tam(14px);
  color: #949799;
  line-height: 20px;
  .sombra{
    box-shadow: 0 3px 3px #8B8B8B;
    padding-bottom: 50px;
  }
  .box{
    margin-top: 75px;
    .icon{
      background: url('../img/icons.png') no-repeat -231px -112px;
      width: 16px;
      height: 16px;
      display: block;
    }
    a{
      color: #7B7B7B;
      letter-spacing: 1px;
      .tam(13px);
    }
  }
  .address{
    .icon{
      background-position: -49px -110px;
    }
  }
  .newsletter{
    .icon{
      background-position: -415px -113px;
    }
    input{
      border: none;
      background: #eaedea;
    }
    .btn{
      border: none;
      background: transparent;
      width: 30px;
      height: 30px;
      background: url('../img/icons.png') no-repeat -960px -103px;
      outline: none;
      margin-left: 5px;
      position: relative;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      &:hover{
        left: 5px;
      }
    }
  }
  .bottom{
    margin-top: 5px;
    a{
      color: #7B7B7B;
      letter-spacing: 1px;
      .tam(13px);
    }
  }
}
.xs {
  .tam(9px);
}
.navbar-collapse{
  max-height: 1000px;
}

/* Flexible iFrame */

.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 82px;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  ul.dropdown-menu{
    position: relative;
    float: none;
  }
}
